.register-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the start of the cross axis (top) */
  height: 100vh;
  float: left;
  margin-left: 122%;
  margin-bottom: 70%; /* Adjust the margin-top value */
}

.register-box {
  width: 400px;
  padding: 20px;
  margin-top: 200px; /* Add margin-top to move the box down */
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  perspective: 1000px;

}

.register-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #4ec4db, #9fbdd1);
  border-radius: 10px;
  transform: rotateY(0deg);
  opacity: 0.5;
  transition: transform 0.5s;
}

.register-box:hover::before {
  transform: rotateY(180deg);
}

.register-form {
  position: relative;
  z-index: 1;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button1 {
  padding: 10px 20px;
  margin: 0px auto -10px; /* Adjust the margin-top value */
  border: none;
  cursor: pointer;
  background-color: #458846;
  color: rgb(193, 206, 200);
  border-radius: 5px;
  width: 150px; /* Set a fixed width for all buttons */
}


.button:hover {
  background-color: #1ebcd7;
}
